<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../Assets/game.css" type="text/css"/>
  <title>HANGMAN-WEB</title>
</head>

<body>
<!--<input type="" title="entrer une lettre" >-->
<embed src="..\Assets\Musique.mp3" loop="true" autostart="true"  width="0" height="0" volume="100">
<div class="div_principal">

  <div class="div_gauche">
    <H1> {{range .Result}} {{.}} {{end}}</H1>
    <p>You have {{ .Live }} attempts remaining</p>
    <form action="../game" method="post">
      <input type="text" id="Enter" name="Enter">
      <input type="submit" >
    </form>
    <H2>Letter or Word already used : {{range .UsedLW}} {{.}} {{end}}</H2>
    <p>
    {{ .AlreadyUsed }}
      <br>
    </p>
    <p>
      {{ .OnlyLowerCase }}
      <br>
    </p>
    <p>
      {{ .BadInput }}
      <br>
    </p>
  </div>
  <div class="div_droite">
    <img src="{{.Picture}}">

  </div>

</div>


</body>
</html>