<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Assets/stylelevel.css" type="text/css"/>
    <title>Level</title>
</head>
<body>
<audio autoplay id="myaudio">
    <source src="/Music/TheWay-Level.mp3">
</audio>

<script>
    var audio = document.getElementById("myaudio");
    audio.volume = 0.1;
</script>

<h1> class="level">LEVEL:</h1>

<form action="../level" method="post">
<input class="buttoneasy" type="submit" id="Easy" name="Easy" value="easy" >
</form>

<form action="../level" method="post">
     <input class="buttonmedium"   type="submit" id="Medium" name="Medium" value="medium" >
</form>

<form action="../level" method="post">
    <input class="buttonhard" type="submit" id="Hard" name="Hard" value="hard" >
</form>
<h1 class="text">{{.User.Username}} are you ready to save Elie and Joel from Infected?Be careful when you play, every time you lose, you allow the infected to get closer to Elie and Joel.</h1>

</body>
</html>