<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Assets/stylelevel.css" type="text/css"/>
    <title>HANGMAN-WEB</title>
</head>
<body>
<embed src="..\Assets\Musique.mp3" loop="true" autostart="true"  width="0" height="0" volume="100">
<a class="buttoneasy"  href="../game" title="Vous ne le regretterez pas"><strong>EASY</strong></a>
<a class="buttonmeduim"  href="../game" title="Vous ne le regretterez pas"><strong>MEDIUM</strong></a>
<a class="buttondifficult"  href="../game" title="Vous ne le regretterez pas"><strong>DIFFICULT</strong></a>

</body>
</html>