<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Assets/stylelevel.css" type="text/css"/>
    <title>HANGMAN-WEB</title>
</head>
<body>
<h1>{{.User.Username}}</h1>
<embed src="..\Assets\Musique.mp3" loop="true" autostart="true"  width="0" height="0" volume="100">
<span class="level">LEVEL:</span>

<form action="../level" method="post">
<input class="buttoneasy" type="submit" id="Easy" name="Easy" value="easy" >
</form>

<form action="../level" method="post">
     <input class="buttonmedium"  type="submit" id="Medium" name="Medium" value="medium" >
</form>

<form action="../level" method="post">
    <input class="buttonhard" type="submit" id="Hard" name="Hard" value="hard" >
</form>

</body>
</html>