<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scoreboard</title>
  <link rel="stylesheet" href="../Assets/scoreboard.css" type="text/css"/>


</head>
<body><audio autoplay id="myaudio">
  <source src="/Music/Theme-Scoreboard.mp3">
</audio>

<script>
  var audio = document.getElementById("myaudio");
  audio.volume = 0.1;
</script>
<a class="reset"  href="/level" title="Vous ne le regretterez pas"><strong>RESET</strong></a>

<table class="tableau">
  <thead>
  <tr>
    <th><h2>NAME</h2></th>
    <th><h2>SCORE</h2></th>
  </tr>
  <tbody>
  <tr>
    <td> SEBASTIEN </td>
    <td> 20POINTS </td>
  </tbody>
  </thead>
</table>
<img class="lucioleimg" src="../Assets/luciole.png">
<h1 class="luciole">LUCIOLE: 0-50 ZP</h1>

<img class="radiantimg" src="../Assets/radiant.png">
<H1 class="radiant">RADIANT: 51-100 ZP</H1>

<img class="claqueurimg" src="../Assets/claqueur.png">
<H1 class="claqueur">CLAQUEUR: 101-300 ZP</H1>

<img class="puantimg" src="../Assets/PUANTS.png">
<H1 class="puant">PUANT: 301-INFINI ZP</H1>


</body>
</html>