<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scoreboard</title>
  <link rel="stylesheet" href="../Assets/scoreboard.css" type="text/css"/>


</head>
<body>
<a class="reset"  href="/level" title="Vous ne le regretterez pas"><strong>RESET</strong></a>
<h1>You can see your score now.
  What's up?
  Are you at the right level?
  You can raise the level now.</h1>
<table class="tableau">
  <thead>
  <tr>
    <th><h2>NAME</h2></th>
    <th><h2>SCORE</h2></th>
  </tr>
  <tbody>
  <tr>
    <td> SEBASTIEN </td>
    <td> 20POINTS </td>
  </tbody>
  </thead>
</table>

</body>
</html>