<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
  <link rel="stylesheet" href="../Assets/scoreboard.css" type="text/css"/>


</head>
<body>
<audio autoplay id="myaudio">
  <source src="/Music/Theme-Scoreboard.mp3">
</audio>

<script>
  var audio = document.getElementById("myaudio");
  audio.volume = 0.1;
</script>



<div class="container">
  <div class="popup" id="popup">
    <h2>Game statistics {{ .Users.Username }}</h2>
    <button type="button" onclick="closePopup()"><Ok>CLOSE</Ok></button>
    <h3>{{ .TotalPoint.Score }} ZP ({{ .Symbol }} {{ .DataGames }} ZP)</h3>
    <img  src="{{ .Picture }}">
<h4>Time : {{ .GameState.Elapsed }} sec</h4>
<h4>Live : {{ .GameState.Live }}</h4>
    <h4>Difficulty : {{ .GameState.GameDifficulty }}</h4>

  </div>
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const message = urlParams.get('message');
  let popup = document.getElementById("popup");

  function openPopup(){
    popup.classList.add("open-popup");
    document.body.classList.add("no-blur");
    document.querySelector(".overlay").style.pointerEvents = "none";
  }

  function closePopup(){
    popup.classList.remove("open-popup");
    document.querySelector("body").classList.remove("no-blur");
    document.querySelector(".overlay").style.pointerEvents = "auto";
  }

  if (message === "Popup") {
    window.onload = function() {
      openPopup();
    }
  }

</script>



<div class="overlay">
  <a class="reset"  href="/level" title="Vous ne le regretterez pas"><strong>RESET</strong></a>
  <img class="lucioleimg" src="../Assets/luciole.png">
  <h1 class="luciole">LUCIOLE: 0-50 ZP</h1>

  <img class="radiantimg" src="../Assets/radiant.png">
  <H1 class="radiant">RADIANT: 51-100 ZP</H1>

  <img class="claqueurimg" src="../Assets/claqueur.png">
  <H1 class="claqueur">CLAQUEUR: 101-300 ZP</H1>

  <img class="puantimg" src="../Assets/PUANTS.png">
  <H1 class="puant">PUANT: 301-INFINI ZP</H1>
  <table class="tableau">
    <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {{ range $i, $e := .Scores }}
    {{ $picture := "" }}
    {{ if le $e.Score 50 }}
    {{ $picture = "/Assets/luciole.png" }}
    {{ else if and (gt $e.Score 50) (le $e.Score 100) }}
    {{ $picture = "/Assets/radiant.png" }}
    {{ else if and (gt $e.Score 100) (le $e.Score 300) }}
    {{ $picture = "/Assets/claqueur.png" }}
    {{ else }}
    {{ $picture = "/Assets/PUANTS.png" }}
    {{ end }}
    <tr>
      <td>{{ $e.Username }} <img class="grade" src="{{ $picture }}"></td>
      <td>{{ $e.Score }}</td>
    </tr>
    {{ end }}
    </tbody>
  </table>
  </div>


</body>
</html>