body{
    background-image:url("https://i.pinimg.com/originals/b8/2f/28/b82f28a7e9c8fcb3868d3d94652c107c.gif");
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: japon;
    src:url('Japon.ttf');
}

.div_principal{
    border: 15px ridge rgba(0,0,0,0%) ;
    display: flex;
    flex-direction: row;
    height: 93%;
}

.div_gauche{
    flex: 1;
    text-align: left;
    background: deepskyblue;
    font-family: japon;
    color: black;
    src:url('Japon.ttf');
    opacity: 90%;
}

.div_droite{
    flex: 1;
    text-align: right;
    background: navajowhite;
    opacity: 90%;
}

form {
    position: relative ;
    top: 450px;
    left: 200px;
}
H1{
    position: relative ;
    top: 150px;
    left: 250px;
}

.live{
    position: relative;
    top: 500px;
    left: 0px;
}

img{
    width : 600px;
    height : 600px;
}