body{
background-color: black ;
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: defused;
    src:url('defused.ttf');
}

.div_principal{
    border: 15px ridge rgba(0,0,0,0%) ;
    display: flex;
    flex-direction: row;
    height: 93%;
}

.div_gauche{
    flex: 1;
    text-align: left;
    background-color: black;
    opacity: 0.4;
    color: white;
    opacity: 90%;
}

.div_droite{
    flex: 1;
    text-align: right;
    background-color: black;
    opacity: 0.4;
    opacity: 90%;
}

form {
    position: relative ;
    font-family: defused;
    margin-top: 50vh;
    src:url('defused.ttf');

}
H1{
    position: relative ;
    top: -5vh;
    left: 15vh;
    font-size: 11vh;
}

.live{
    position: relative;
    margin-top: 15vh;
    margin-left: 0vh;
    font-family: defused;
}


img{
    width : 100vh;
    height : 70vh;
}


h2{
    margin-top: -50vh;
    margin-left: 0vh;
    font-family: defused;

}

input{
    src:url('defused.ttf');
    font-family: defused;
    margin-top: 0vh;
}
p {
    font-family: defused;
}

input[type=text]{
    background-color: black;
    border: 4px solid white;
    border-radius: 5px;
}
input[type=text]:hover{
    background-color: #cccccc;
}