.content {
    display: none;
}
body{
    background-image:url("start.jpg");
    background-size: cover;
    font-family: defused;
    color: white;
}
@font-face {
    font-family: defused;
    src:url('../Assets/defused.ttf');
}
.login{
    font-family: defused;

}
.registration{
    font-family: defused;

}
.hangman{
    font-size: 10vh;
}