body{
    background-color: black;
}

.buttonjouer{
    border: none;
    background-color:rgb(9, 126, 236) ;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.image {
    text-align: center;
    font-size: 10vw;
    margin-top: 20px;
    color: white;
}

.buttonregle{
    border: none;
    background-color:rgb(9, 126, 236) ;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    position: absolute;
    top: 0%;
    left: 0%;
}

.test {
    text-align: center;
    color: aqua;
}

.input{
    text-align: center;
}